html {
    height: 100%;
    background-color: #9eeec5;
    /* background: linear-gradient(0deg, #9eeec5 50%, transparent 50%); */
}

body {
    text-align: center;
    font-family: monospace, arial, sans-serif;
    color: #fff;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: solid black 1px; */
}

body a {
    color: #fff;
}

#white_space {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    width: 100%;
    height: 200px;
}

#error {
    color: red;
}

/* HEADER */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

#logo {
    padding-left: 5px;
}

/* CONTENT */

#content_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: inherit; */
    width: 90%;
    max-width: 1400px;
    margin-top: 100px;
    height: 650px;
}

#title_block {
    width: 300px;
    height: 300px;
    background-color: #000;
    border: inherit;
}

#title {
    padding: 20px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 80%;
    display: flex;
}

#title h1 {
    margin: 0px;
    font-size: 2.5em;
    align-self: flex-end;
}

#login_block {
    display: flex;
    /* align-self: flex-end; */
    border: inherit;
    width: 300px;
    height: 300px;
    background-color: #59dd97;
}

#login {
    align-self: flex-end;
    margin: 10px auto;
}

#login input[type="text"], input[type="password"], button {
    border: none;
    width: 90%;
    text-align: center;
    margin: 5px 0px;
}

#login input[type="radio"] {
    height: 20px;
    width: 20px;
}

#login form button {
    background-color: #59dd97;
}

#login button:hover {
    background-color: #000;
    color: #fff;
}

/* hello page */

#welcome_block {
    /* width: 300px; */
    /* height: 300px; */
    background-color: #000;
    margin-top: 10%;
    border: inherit;
}

#title_page {
    text-align: left;
    padding: 0px 20px;
}

#welcome {
    padding: 0px 10px;
}

#content_block_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: inherit;
    width: auto;
    margin: 0 20%;
}

#chart_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 5% 0%;
}

#chart {
    height: 300px;
    /* text-align: center; */
    background-color: #000;
    flex: 0.9;
}

#source_form_block {
    display: flex;
    /* align-self: flex-end;
    border: inherit; */
    /* width: 300px;
    height: 300px; */
    background-color: #59dd97;
    width: 150px;
    margin-right: 5%;
}

/* #source_form {
    width: inherit;
}

#source_form form {
    flex-direction: column;
} */

#buttons_block {
    display: flex;
    flex-direction: column;
    text-align: initial;
    padding: 5px;
}

#buttons_block label {
    display: inline-block;
    font-size: 2em;
    /* width: 100px; */
}

@media (max-width:1000px) {


    #chart {
        order: 3;
        flex: 1;
    }

    #content_block_center {
        
    }

}