{% extends "base.html" %}

{% block title %}
    DENKO-administration
{% endblock %}

{% block header %}
    <div id="logo">Electricity Forecast Administration</div>
    <div id="welcome">
        {% if administrator %}
            Bienvenue {{ administrator }}
        {% else %}
            Merci de vous connecter
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="title_block">
        <div id="title">
            <h1>Electricity Forecast Admin.</h1>
        </div>
    </div>
    {% if administrator %}
        <div id="chart">
            <div id="myChart" height="300">
                <p>Bloc de gestion de la data</p>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                <p>Bloc de gestion des utilisateurs<br />
                Ajouter un nouvel utilisateur :</p>
                <div id="error">
                    {{ error }}
                </div>
                <form action="admin" method="POST">
                    <input name="data_type" type="hidden" class="data_type" value="user_creation">
                    <input name="alias" type="text" class="alias" placeholder="identifiant">
                    <input name="password" type="password" class="pass" placeholder="mot de passe">
                    <div id="buttons_block">
                        <label for="user">
                            <input type="radio" id="user" name="account_type" value="0">
                            Compte utilisateur
                        </label>
                        <label for="admin">
                            <input type="radio" id="admin" name="account_type" value="1">
                            Compte administrateur
                        </label>
                    </div>
                    <button class="button" type="submit">Enregistrer le nouvel utilisateur</button>
                </form>
            </div>
        </div>
    {% elif error %}
        <div id="chart">
            <div id="myChart" height="300">
                <p>Bienvenue sur l'administration d'Electricity Forecast.<br />
                Merci de vous authentitifier pour accéder a l'interface d'administration.</p>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                <div id="error">
                    {{ error }}
                </div>
                <form action="admin" method="POST">
                    <input name="data_type" type="hidden" class="data_type" value="login">
                    <input name="alias" type="text" class="alias" placeholder="Votre identifiant administrateur">
                    <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
                    <button class="button" type="submit">Valider</button>
                </form>
            </div>
        </div>
    {% else %}
        <div id="chart">
            <div id="myChart" height="300">
                <p>Bienvenue sur l'administration d'Electricity Forecast.<br />
                Merci de vous authentitifier pour accéder a l'interface d'administration.</p>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                <form action="admin" method="POST">
                    <input name="alias" type="text" class="alias" placeholder="Votre identifiant administrateur">
                    <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
                    <button class="button" type="submit">Valider</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}