{% extends "base.html" %}

{% block title %}
    DENKO-administration
{% endblock %}

{% block header %}
    <div id="logo">Electricity Forecast Administration</div>
    <div id="flash_message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="welcome">
        {% if session['username'] %}
            Bienvenue {{ session['username'] }} <a href="./admin/logout">logout</a>
        {% else %}
            Merci de vous connecter
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div id="title_block">
        <div id="title">
            <h1>Electricity Forecast Admin.</h1>
        </div>
    </div>
    {% if session['admin'] %}
        <div id="chart">
            <div id="myChart" height="300">
                <p><b>Bloc de gestion de la data</b></p>
                <div class="form">
                    <p>Insérer un fichier csv (séparateur ";")</p>
                    <form action="admin" enctype="multipart/form-data" method="POST">
                        <input type="hidden" name="data_type" class="data_type" value="csv_file">
                        <input type="file" name="file" class="csv_file">
                        <button class="button" type="submit">Insérer les données</button>
                    </form>
                </div>
                <div class="form">
                    <p>Mise à jour des données automatisée</p>
                    <p>La mise à jour des données s'éffectue sur le mois précédent. pour mettre à jour les données sur d'autres période, merci de sélectionner celle souhaitée. Attention, la période ne peut dépasser 5 mois.</p>
                    <form action="admin" method="POST">
                        <input type="hidden" name="data_type" class="data_type" value="update">
                        <button class="button" type="submit">Mise à jour des données</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                {% if response %}
                    <div id="response">
                        {{ response }}
                    </div>
                {% endif %}
                <div id="error">
                    {{ error }}
                </div>
                <p><b>Bloc de gestion des utilisateurs</b></p>
                <p>Ajouter un nouvel utilisateur :</p>
                <div id="error">
                    {{ error }}
                </div>
                <form action="admin" method="POST">
                    <input name="data_type" type="hidden" class="data_type" value="user_creation">
                    <input name="alias" type="text" class="alias" placeholder="identifiant">
                    <input name="password" type="password" class="pass" placeholder="mot de passe">
                    <div id="buttons_block">
                        <label for="user">
                            <input type="radio" id="user" name="account_type" value="0">
                            Compte utilisateur
                        </label>
                        <label for="admin">
                            <input type="radio" id="admin" name="account_type" value="1">
                            Compte administrateur
                        </label>
                    </div>
                    <button class="button" type="submit">Enregistrer le nouvel utilisateur</button>
                </form>
            </div>
        </div>
    {% elif error %}
        <div id="chart">
            <div id="myChart" height="300">
                <p><b>Bienvenue sur l'administration d'Electricity Forecast</b><br />
                Merci de vous authentitifier pour accéder a l'interface d'administration.</p>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                <div id="error">
                    {{ error }}
                </div>
                <form action="admin" method="POST">
                    <input name="data_type" type="hidden" class="data_type" value="login">
                    <input name="alias" type="text" class="alias" placeholder="Votre identifiant administrateur">
                    <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
                    <button class="button" type="submit">Valider</button>
                </form>
            </div>
        </div>
    {% else %}
        <div id="chart">
            <div id="myChart" height="300">
                <p><b>Bienvenue sur l'administration d'Electricity Forecast</b><br />
                Merci de vous authentitifier pour accéder a l'interface d'administration.</p>
            </div>
        </div>
        <div id="login_block">
            <div id="login">
                <form action="admin" method="POST">
                    <input name="data_type" type="hidden" class="data_type" value="login">
                    <input name="alias" type="text" class="alias" placeholder="Votre identifiant administrateur">
                    <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
                    <button class="button" type="submit">Valider</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}