<!doctype html>
<html lang="fr">

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>

        <header>
            {% block header %}{% endblock %}
        </header>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id="flash_message">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <section id="menu_block">
            {% block menu %}{% endblock %}
        </section>

        <section id="content_block">
            {% block content %}{% endblock %}
        </section>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    
        <div id="white_space"></div>

    </body>

</html>