<!doctype html>
<html lang="fr">

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>

        <header>
            {% block header %}{% endblock %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </header>
    
        <section id="content_block">
            {% block content %}{% endblock %}
        </section>

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    
        <div id="white_space"></div>

    </body>

</html>