<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <!-- <script src='<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>'></script> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>French electricity production</title>
    </head>

    <body>
        <header>
            <div id="logo">Electricity Forecast</div>
            <div id="welcome">
                {% if pseudo %}
                    Bienvenue {{ pseudo }}
                {% else %}
                    ERROR
                {% endif %}
            </div>
        </header>

        <div id="content_block_center">
            <!-- <h1>Electricity Forecast</h1> -->

            <div id="welcome_block">
                <div id="title_page">
                    <h2>Production électrique française</h2>
                </div>
            </div>
            <div id="chart_block">
                <div id="source_form_block">
                    
                    <div id="source_form">
                        <form action="#" method="GET">
                            <div id="buttons_block">
                                <input type="radio" name="total" id="total" value="total" checked>
                                <label for="total">Total</label>
                                <input type="radio" name="nuclear" id="nuclear" value="nuclear">
                                <label for="nuclear">Nucléaire</label>
                                <input type="radio" name="enr" id="enr" value="enr">
                                <label for="enr">EnR</label>
                                <input type="radio" name="fossil" id="fossil" value="fossil">
                                <label for="enr">Fossile</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div id="chart">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                <script>

                    // Chart.defaults.global.responsive = false;
                    Chart.defaults.scale.gridLines.display = false;

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',
              
                        // The data for our dataset
                        data: {
                            labels: [
                                {% for item in labels %}
                                    "{{ item }}",
                                {% endfor %}
                            ],
                            datasets: [{
                                label: 'Confirmed values',
                                backgroundColor: 'rgb(52, 134, 235,0.2)',
                                borderColor: 'rgb(52, 134, 235)',
                                scaleShowLabels: true,
                                data: [
                                    {% for item in values %}
                                        {{ item }},
                                    {% endfor %}
                                    ]
                            },
                            {
                                label: 'Predictions',
                                backgroundColor: 'rgb(235, 92, 52, 0.2)',
                                borderColor: 'rgb(235, 92, 52)',
                                data: [
                                    {% for item in predictions %}
                                        {{ item }},
                                    {% endfor %}
                                ]
                            },
                            {
                                label: 'Max',
                                backgroundColor: 'rgb(0, 92, 52, 0.0)',
                                borderColor: 'rgb(66, 66, 66)',
                                data: [
                                    {% for item in maximum %}
                                        {{ item }},
                                    {% endfor %}
                                ]
                            },
                            {
                                label: 'Min',
                                backgroundColor: 'rgb(0, 92, 52, 0.0)',
                                borderColor: 'rgb(66, 66, 66)',
                                data: [
                                    {% for item in minimum %}
                                        {{ item }},
                                    {% endfor %}
                                ]
                            },                    
                        ]
                    },
        
                    // Configuration options go here
                    options: {
                        responsive:true
                    }
                });
                </script>
            </div>
        

            <div id="back">
                <p><a href="/">Pour retourner à l'accueil</a></p>
            </div>

            <div id="white_space"></div>
        </div>

        <footer>
          <p>Si vous souhaitez vous désabonner du service, modifier vos données personnelles ou les supprimer des bases de Denko, merci de clique <a href="#">ici</a> ou de contacter nos équipes à l'adresse <a href="mailto:team@denko_fr.com">team@denko_fr.com</a></p>
          <p><a href="#">Mentions légales</a> / <a href="#">Qui sommes nous ?</a></p>
        </footer>

    </body>

</html>