{% extends "base.html" %}

{% block title %}
    DENKO
{% endblock %}

{% block header %}
    <div id="logo">Electricity forecast</div>
{% endblock %}

{% block content %}
    <div id="title_block">
        <div id="title">
            <h1>Electricity Forecast</h1>
        </div>
    </div>
    <!-- <img src="{{url_for('static', filename='logo.jpg')}}" alt="logo de la société Denko"> -->
    <!-- <h1>Bienvenue sur Electricity Forecast</h1> -->

    <div id="login_block">
        <div id="login">
            <!-- <h2>Merci de vous connecter avec vos identifiants</h2> -->
            <form action="hello" method="POST">
                <input name="alias" type="text" class="alias" placeholder="Votre pseudo">
                <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
                <button class="button" type="submit">Valider</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <p>Votre pseudo et mot de passe vous ont été communiqués lors de votre inscription. Si vous avez perdu ou oubliez vos identifiants, merci de contacter nos équipes.</p>
    <p>Si vous souhaitez vous désabonner du service, modifier vos données personnelles ou les supprimer des bases de Denko, merci de clique <a href="#">ici</a> ou de contacter nos équipes à l'adresse <a href="mailto:team@denko_fr.com">team@denko_fr.com</a></p>
    <p><a href="#">Mentions légales</a><a href="#">Qui sommes nous ?</a></p>
{% endblock %}