<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>French electricity production</title>
</head>

<body>
    <h1>Bienvenue sur Electricity Forecast</h1>

    <div id="login">
        <h2>Merci de vous connecter avec vos identifiants</h2>
        <form action="hello" method="POST">
            <input name="alias" type="text" class="alias" placeholder="Votre pseudo">
            <input name="password" type="password" class="pass" placeholder="Votre mot de passe">
            <button class="button" type="submit">Valider</button>
        </form>
    </div>
    <div id="login_info">
        <p>Votre pseudo et mot de passe vous ont été communiqués lors de votre inscription. Si vous avez perdu ou oubliez vos identifiants, merci de contacter nos équipes.</p>
    </div>

</body>

</html>