<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>French electricity production</title>
</head>

<body>
    <h1>Bienvenue sur Electricity Forecast</h1>

    <div id="login">
        <h2>Merci de vous connecter avec vos identifiants</h2>
        <form>
            <input type="text" class="alias" aria-describedby="alias" placeholder="Votre pseudo">
            <input type="password" class="pass" aria-describedby="pass" placeholder="Votre mot de passe">
            <button class="button" type="submit">Valider</button>
        </form>
    </div>

</body>

</html>